.tel-backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-color: white;
  transform: var(--transition-duration) var(--cubic-bezier);
  opacity: var(--transition-duration) var(--cubic-bezier);
  visibility: var(--transition-duration) var(--cubic-bezier);
  &__card {
    position: absolute;
    top: 100%;
    left: 100%;
    transform: translate(-50%, -50%);

    background-color: var(--tertiary-color);
  }
}
